{% extends 'base.html' %}
{% load static %}

{% block title %}Busan{% endblock %}


{% block extra-script %}
    <link rel="stylesheet" href="{% static 'apitest/stylesheet/map.css' %}">

    <script src="http://d3js.org/d3.v5.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-transition/1.1.1/d3-transition.js"></script>
    <script src="{% static 'apitest/script/map.js' %}"></script>

    <script>
        var BUSAN_JSON_DATA_URL = "{% static 'apitest/emd.json' %}",
            TEST_SPOT_JSON_DATA_URL = "{% static 'apitest/testSpots.json' %}";

        function initialize() {
            // 각 데이터들 (아래 script에 있는 mydata (차트 만들 때 썼던 데이터) )를 딕셔너리로 만들어 busan_dong_map에 인자로 넘겨줌

            var dict_0 = {}; // 현재 
            for (var i = 0; i < mydata.labels.length; i++) {
                dict_0[mydata.labels[i]] = mydata.datasets[0].data[i];
            }
            var dict_1 = {}; // 1시간후
            for (var i = 0; i < mydata.labels.length; i++) {
                dict_1[mydata.labels[i]] = mydata.datasets[1].data[i];
            }
            var dict_2 = {}; // 2시간후
            for (var i = 0; i < mydata.labels.length; i++) {
                dict_2[mydata.labels[i]] = mydata.datasets[2].data[i];
            }
            var dict_3 = {}; // 3시간후
            for (var i = 0; i < mydata.labels.length; i++) {
                dict_3[mydata.labels[i]] = mydata.datasets[3].data[i];
            }

            d3.json(TEST_SPOT_JSON_DATA_URL).then(function (_data) {
                // map.js
                busan_dong_map('#map', _data, dict_0, dict_1, dict_2, dict_3);
            });
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var mydata = {
            labels: {{ dong|safe }},
            datasets: [{
                label: 'result0',
                data: {{ result0|safe }}
            },
                {
                    label: 'result1',
                    data: {{ result1|safe }}
                }, {
                    label: 'result2',
                    data: {{ result2|safe }}
                },
                {
                    label: 'result3',
                    data: {{ result3|safe }}
                }]
        };

        var year = {{year}}
        var month = {{month}}
        var day = {{day}}
        var hour = {{hour}}
        var minute = {{minute}}

    </script>
{% endblock %}
{% block body %}
    onload="initialize()"
{% endblock %}

{% block content %}
    <h1 id='title'></h1>

    <div class="row center-block">
        <div class="col-lg-4">
{#           <br><br><br><br><br>#}
{#            <img src="{% static 'realmc.jpg' %}" style="height : 50%; border-width:5px; border-color:white; border-style:dashed;" width="">#}
        </div>
        <div class="col-lg-5">
            <div id="map"></div>
        </div>
    </div>
{% endblock %}
