{% extends 'base.html' %}
{# base.html 파일을 확장하여 base 파일에서 지정한 각 block에 들어갈 내용들을 정의 #}

{% load static %}

{% block title %}Simulation 결과 보기{% endblock %}


{% block extra-script %}
    <link rel="stylesheet" href="{% static 'modeltest/stylesheet/map.css' %}">

    {# d3 import #}
    <script src="http://d3js.org/d3.v5.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-transition/1.1.1/d3-transition.js"></script>
    {# map.js import #}
    <script src="{% static 'modeltest/script/map.js' %}"></script>

    <script>
        var BUSAN_JSON_DATA_URL = "{% static 'modeltest/emd.json' %}",
            TEST_SPOT_JSON_DATA_URL = "{% static 'modeltest/testSpots.json' %}";

        function initialize() {
            var dict_predict = [];
            for (var j = 0; j < 28; j++) {
                hour_predict = {};
                for (var i = 0; i < Rdong.length; i++) {
                    hour_predict[Rdong[i]] = predicts[j][i];
                }
                dict_predict[j] = hour_predict;
            }
            var count = 0;

            d3.json(TEST_SPOT_JSON_DATA_URL).then(function (_data) {
                // map.js
                busan_dong_map('#map', _data, dict_predict);
            });
            var timer = d3.interval(function (e) {
                str = '2020년 7월 23일 ' + count + '시';
                if (count > 23) {
                    date = '2020년 7월 24일 ';
                    time = count - 24;
                    str = date + time + '시'
                }
                a = document.getElementById('title');
                a.innerHTML = str;
                count++;
                if (count > 27)
                    count = 0;
                if (e < 11200) {
                    colorchange(dict_predict, count)
                } else {
                    timer.stop()
                }
            }, 400)
        }

    </script>

    <script>
        // map.py에서 넘겨받은 context들을 이용
        var predicts = {{predict}};
        var Rdong = {{Rdong|safe}};
    </script>
{% endblock %}
{% block body %}
    {# body에서 initialize 호출 #}
    onload="initialize()"
{% endblock %}

{% block content %}
    <h1 id='title'></h1>

    <div class="row">
        {# 범례생성 #}
        <div class='col-lg-4 d-none d-xl-block'>
            <br><br>
            <table id="leg" style="float:right">
                <tr>
                    <td style="background-color: rgb(255, 0, 0); color:white" value='100%'>100%</td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 10, 10)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 20, 20)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 31, 31)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 41, 41)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 51, 51)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 61, 61)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 71, 71)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 82, 82)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 92, 92)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 102, 102)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 112, 112)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 122, 122)"></td>
                </tr>
                <tr>
                    <td style="background-color:rgb(255, 133, 133)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 143, 143)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 153, 153)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 163, 163)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 173, 173)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 184, 184)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 194, 194)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 204, 204)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 214, 214)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 224, 224)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 235, 235)"></td>
                </tr>
                <tr>
                    <td style="background-color: rgb(255, 255, 255); color:rgb(255, 0, 0); text-align: center;">0%</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-8">
            {# 지도표시 #}
            <div id="map"></div>
        </div>
    </div>

{% endblock %}
