<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    {% block extra-style %}{% endblock %}
</head>
<body {% block body %} {% endblock %}style="padding-top:90px; background-color: #8d93ab;" >
{% block video %}

{% endblock %}
<div{% block dclass %}
class="container-fluid"
{% endblock %} style="background-color: #8d93ab;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand mx-5 mb-0 font-weight-bold font-italic" href="{% url 'home' %}">스마트 침수 예방</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <li class="nav-item mx-1 btn">
            <a class="nav-link text-white" href="{% url 'BusanMap' %}">부산지역 구단위 정보</a>
        </li>
        <li class="nav-item mx-1 btn">
            <a class="nav-link text-white" href="{% url 'modeltest' %}">Simulation 결과 보기</a>
        </li>
        <li class="nav-item mx-1 btn">
            <a class="nav-link text-white" href="{% url 'cctv' %}">CCTV 영상 분석</a>
        </li>
        <li class="nav-item mx-1 btn">
            <a class="nav-link text-white" href="{% url 'apitest' %}">실시간 침수 위험도 보기</a>
        </li>

    </div>
</nav>

    {% block content %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/c998a172fe.js"></script>
{% block extra-script %}{% endblock %}


</body>
</html>