{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block extra-style %}
    <style type="text/css">

        .home-window {
            background-image: url("{% static 'img/sample1.png' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            height: 500px;
            border-top: 10px solid #ccc;
            border-bottom: 10px solid #ccc;
            color: yellow;
            padding: 20px 0 0 20px;
        }

        .title {
            color: #c80;
            font-weight: bold;
        }

        .powered {
            position: relative;
            top: 77%;
            color: #cc0;
            font-style: italic;
        }
    </style>
{% endblock %}
{% block dclass %}
    class="container"
{% endblock %}
{% block content %}
    <h2 class="title">스마트 침수 예방 시스템 개발</h2>
    <div class="home-window">
    </div>

    <hr style="margin: 10px 0;">

    <h1>1. 문제 배경 및 필요성</h1><br>
    <h2>프로젝트 동기(Motivation)</h2>
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <img src="{% static 'img/침수news.jpg' %}" width="550">
        </div>
        <div class="col-sm-12 col-xl-6">
            <h5>부산 기록적 폭우에 곳곳 침수 ··· 3명 사망</h5>
            <p>이이슬 기자 (KBS NEWS), 2020.07.24</p>
            <h5>'3명 목숨 앗아간' 부산 지하차도 침수사고... 통제 왜 늦었나</h5>
            <p>&lt;동아일보&gt;, 2020.07.24</p>
            <h5>"폭우에 배수펌프 무용지물" 대전서도 사람잡는 지하차도 논란</h5>
            <p>김병헌 기자, &lt;중앙일보&gt; 2020.08.05</p>
            <h5>배수펌프 3개 있는데도 ··· 지하차도 참사 '6년 전과 판박이'</h5>
            <p>김광수 기자 외 3명, &lt;한겨레&gt; 2020.07.24</p>
        </div>
    </div>
    <br><br>
    <h2>원인</h2>
    <h3>(거시적 분석)</h3><br>
    <h3>&#9312; 높은 빈도의 호우 재해</h3><br>
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <img src="{% static 'img/인명피해.png' %}" width="550">
        </div>
        <div class="col-sm-12 col-xl-6">
            <li>10년간 호우로 인한 인명 피해 사고 최다</li><br>
            <li>10년간 호우로 인한 재해 피홰액 최대</li><br>
            <li>2015년 제외 지속적인 호우 피해 발생</li><br>
        </div>
    </div>

    <br>
    <h3>&#9313; 이상기후로 인한 집중 호우 발생 증가</h3><br>
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <img src="{% static 'img/호우.jpg' %}" width="550">
            <p>한민구 기자, &lt;서울경제&gt;, 2020.08.03</p>
        </div>
        <div class="col-sm-12 col-xl-6">
            <h4>집중호우?</h4><br>
            <li>많은 양의 비가 짧은 시간에 좁은 지역에서 집중되어 내리는 현상</li>
            <br>
            <li>시간당 30mm 이상또는 하루에 80mm 이상의 비가 내리는 경우</li>
            <br>
            <li>하루에 연강수량의 10%에 해당하는 비가 내리는 경우</li>
            <br><br>
            <img src="{% static 'img/강수량 기후값.png' %}" width="550">
        </div>
    </div>
    <br>
    <h3>(미시적 분석)</h3><br>
    <h3>&#9314; 바다 근처의 저지대(부산)</h3><br>
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <img src="{% static 'img/저지대.jpg' %}" width="550">

        </div>
        <div class="col-sm-12 col-xl-6">
            <li>지구 온난화로 인한 해수면 상승에 따른 침수 취약 지역지</li><br>
            <li>바다 물때인 만조에 따른 위험 시간대 중첩</li><br>
            <li>근처 산으로부터 높은 경사를 따라 집중호우시 저지대로 유입되는 유량 증가</li>
            <br>
            <p>Hong, Sung-Ki, Yong-Hoon Kang, and Han-Seok Lee.
                "A study on flooding prevention scheme due to sea level
                rise at Young-do coast in Busan." Journal of Navigation
                and Port Research 37.4 (2013): 409-418.</p>
        </div>
    </div>
    <br><br>
    <h3>&#9315; 높은 불투수 면적 비율</h3><br>
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'img/불투수.png' %}" width="550"><br><br>
            <p>전국 불투수 면적률 첫 조사,&lt;환경부&gt;, 2013.10.07</p>
        </div>
        <div class="col-sm-6">
            <h4>불투수 면적?</h4>
            <li>건물 콘크리트 아스팔트 등으로 덮여 빗물이 침투하지 못하는 토지 등의 면적</li>
            <br>
            <li>내수 배제 불능으로 침수 및 범람 가능성 증가 원인</li>
            <br>
            <li>하수구 역류의 원인</li>
            <br>
            <br><br>
        </div>
    </div>

{% endblock %}
