{% extends 'base.html' %}
{# base.html 파일을 확장하여 base 파일에서 지정한 각 block에 들어갈 내용들을 정의 #}

{% load static %}

{% block title %}부산 지역 구단위 정보{% endblock %}

{% block extra-script %}
    <link rel="stylesheet" href="{% static 'busanMap/stylesheet/map.css' %}">

    {# d3 import #}
    <script src="http://d3js.org/d3.v5.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    {# map.js import #}
    <script src="{% static 'busanMap/script/map.js' %}"></script>

    <script>
        var BUSAN_JSON_DATA_URL = "{% static 'busanMap/busan_sig.json' %}",
            TEST_SPOT_JSON_DATA_URL = "{% static 'busanMap/testSpots.json' %}";
        function initialize() {
            // chart.js에서 사용하였던 dataset을
            // d3.js에서 이용하기 위해 딕셔너리로 넘겨줌
            var dict_a = {};
            for(var i=0; i<mydata.labels.length; i++)
            {
                dict_a[mydata.labels[i]] = mydata.datasets[0].data[i];
            }
            var dict_b = {};
            for(var i=0; i<mydata.labels.length; i++)
            {
                dict_b[mydata.labels[i]] = mydata.datasets[1].data[i];
            }
            var dict_c = {};
            for(var i=0; i<mydata.labels.length; i++)
            {
                dict_c[mydata.labels[i]] = mydata.datasets[2].data[i];
            }            d3.json(TEST_SPOT_JSON_DATA_URL).then(function (_data) {
                busan_map('#map', _data, dict_a, dict_b, dict_c);
            });
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        // mychart
        var ctx = document.getElementById('myChart').getContext('2d');
        var mydata = {
            // map.py에서 넘겨받은 context들을 이용
            labels: {{ zone|safe }},
            datasets: [{
                // xAxisID : 밑에서 정의한 chart option의 scales
                label: '불투수면',
                backgroundColor: 'rgb(109,177,0)',
                borderColor: 'rgb(109,177,0)',
                xAxisID: 'A',
                data: {{ imp|safe }}
            }, {
                label: '펌프',
                backgroundColor: 'rgb(0, 99, 132)',
                borderColor: 'rgb(0, 99, 132)',
                xAxisID: 'B',
                data: {{ pump|safe }}
            },{
                label: '침수빈도',
                backgroundColor: 'rgb(255,0,9)',
                borderColor: 'rgb(255,0,9)',
                xAxisID: 'C',
                data: {{ grade|safe }}
            }]
        };
        var chart = new Chart(ctx, {
            type: 'horizontalBar', // 수평 막대그래프
            data: mydata, // 위에서 저장한 mydata를 chart data로 사용
            options: {
                scales: { // 각 항목별로 막대그래프 수치 범위를 지정해줌
                    xAxes: [{
                        id: 'A',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            max: 1.3,
                            min: 0
                        }
                    },{
                        id: 'B',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            max: 4.3E-07,
                            min: 0
                        }
                    },{
                        id: 'C',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            max: 0.15,
                            min: 0
                        }
                    }]
                },
                title: {
                    display: true,
                    text: '부산 각 구별 통계',
                    fontSize: 40
                },
                barValueSpacing: 20,
            }
        });
        // 초기 막대그래프 숨김상태로 지정
        chart.data.datasets.forEach(function (d) {
            d.hidden = !d.hidden;
        });
        chart.update();
    </script>
{% endblock %}
{% block body %}
    {# body에서 initialize 호출 #}
    onload="initialize()"
{% endblock %}

{% block content %}
    <div class="row">
        <div class='col-lg-4 d-none d-xl-block'>
            <div style="float:right; max-height: 700px; max-width: 400px; margin-top: 100px;">
                <canvas id="myChart" style="width: 300px; height:700px"></canvas>
            </div>
        </div>
        <div class="col-lg-8">
            {# 지도표시 #}
            <div id="map"></div>
        </div>
    </div>
{% endblock %}
