{% extends 'base.html' %}
{% load static %}

{% block title %}Busan{% endblock %}


{% block extra-script %}
    <link rel="stylesheet" href="{% static 'busanMap/stylesheet/map.css' %}">

    <script src="http://d3js.org/d3.v5.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="{% static 'busanMap/script/map.js' %}"></script>

    <script>
        var BUSAN_JSON_DATA_URL = "{% static 'busanMap/busan_sig.json' %}",
            TEST_SPOT_JSON_DATA_URL = "{% static 'busanMap/testSpots.json' %}";
        function initialize() {

            var dict_a = {};
            for(var i=0; i<mydata.labels.length; i++)
            {
                dict_a[mydata.labels[i]] = mydata.datasets[0].data[i];
            }
            var dict_b = {};
            for(var i=0; i<mydata.labels.length; i++)
            {
                dict_b[mydata.labels[i]] = mydata.datasets[1].data[i];
            }
            var dict_c = {};
            for(var i=0; i<mydata.labels.length; i++)
            {
                dict_c[mydata.labels[i]] = mydata.datasets[2].data[i];
            }

            var dict_d = {};
            for(var i=0; i<mydata.labels.length; i++)
            {
                dict_d[mydata.labels[i]] = mydata.datasets[3].data[i];
            }
            d3.json(TEST_SPOT_JSON_DATA_URL).then(function (_data) {
                busan_map('#map', _data, dict_a, dict_b, dict_c, dict_d);
            });
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var mydata = {
            labels: {{ zone|safe }},
            datasets: [{
                label: '불투수면',
                backgroundColor: 'rgb(109,177,0)',
                borderColor: 'rgb(109,177,0)',
                xAxisID: 'A',
                data: {{ imp|safe }}
            }, {
                label: '펌프',
                backgroundColor: 'rgb(0, 99, 132)',
                borderColor: 'rgb(0, 99, 132)',
                xAxisID: 'B',
                data: {{ pump|safe }}
            }, {
                label: '맨홀',
                backgroundColor: 'rgb(77, 11, 88)',
                borderColor: 'rgb(77, 11, 88)',
                xAxisID: 'C',
                data: {{ manhole|safe }}
            }, {
                label: '침수빈도',
                backgroundColor: 'rgb(255,0,9)',
                borderColor: 'rgb(255,0,9)',
                xAxisID: 'D',
                data: {{ grade|safe }}
            }]
        };
        var chart = new Chart(ctx, {
            type: 'horizontalBar',
            data: mydata,
            options: {
                scales: {
                    xAxes: [{
                        id: 'A',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            max: 100,
                            min: 0
                        }
                    }, {
                        id: 'B',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            max: 4.3E-07,
                            min: 0
                        }
                    }, {
                        id: 'C',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            max: 0.028,
                            min: 0
                        }
                    }, {
                        id: 'D',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            max: 5,
                            min: 0
                        }
                    }]
                },
                title: {
                    display: true,
                    text: '부산 각 구별 통계',
                    fontSize: 40
                },
                barValueSpacing: 20,
            }
        });
        chart.data.datasets.forEach(function (d) {
            d.hidden = !d.hidden;
        });
        chart.update();
    </script>
{% endblock %}
{% block body %}
    onload="initialize()"
{% endblock %}

{% block content %}
    <div class="row">
        <div class='col-lg-4 d-none d-xl-block'>
            <div style="float:right; max-height: 700px; max-width: 400px; margin-top: 100px;">
                <canvas id="myChart" style="width: 300px; height:700px"></canvas>
            </div>
        </div>
        <div class="col-lg-8">
            <div id="map"></div>
        </div>
    </div>
{% endblock %}
