{% extends 'base.html' %}
{% load static %}

{% block video %}
    <section>
        <div style="float:left;width:50%;height:50%;background-Color:#F2FFFF">
            <video oncontextmenu="return false;" controls autoplay width="100%" height="100%">
                <source src="{% static 'modeltest/cctv/cctv1.mp4' %}" type="video/mp4">
            </video>
        </div>
        <div style="clear:right;float:right;width:50%;height:50%;background-Color:#FFF2FF">
            <video oncontextmenu="return false;" controls autoplay width="100%" height="100%">
                <source src="{% static 'modeltest/cctv/cctv2.mp4' %}" type="video/mp4">
            </video>
        </div>
        <div style="float:left;width:50%;height:50%;background-Color:#FFFFF2">
            <video oncontextmenu="return false;" controls autoplay width="100%" height="100%">
                <source src="{% static 'modeltest/cctv/cctv3.mp4' %}" type="video/mp4">
            </video>
        </div>
        <div style="clear:right;float:right;width:50%;height:50%;background-Color:#EFEFEF">
        </div>
    </section>
{% endblock %}
