{% extends 'base.html' %}

{% load static %}

{% block title %}home.html{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3" style="float:left; max-height: 650px; max-width: 400px;">
            <h1>부산 구별 통계</h1>
            <canvas id="myChart" style="width: 300px; height:700px"></canvas>
        </div>
        <div class="col-lg-6">
            <h1>컬럼2</h1>
        </div>
    </div>
{% endblock %}

{% block extra-script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var mydata = {
                labels: {{ zone|safe }},
                datasets: [{
                    label: '불투수면',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: {{ imp|safe }}
                }, {
                    label: '펌프',
                    backgroundColor: 'rgb(0, 99, 132)',
                    borderColor: 'rgb(0, 99, 132)',
                    data: {{ pump|safe }}
                }, {
                    label: '맨홀',
                    backgroundColor: 'rgb(111, 0, 0)',
                    borderColor: 'rgb(111, 0, 0)',
                    data: {{ manhole|safe }}
                }]
        };
        var chart = new Chart(ctx, {
            type: 'horizontalBar',
            data: mydata,
            options: {
                responsive: true,
                elements: {
                    rectangle:{
                        borderWidth :2,
                    }
                },
                title:{
                    display: true,
                    text: '부산 각 구별 통계'
                }
            }
        });
    </script>
{% endblock %}