path {
    fill: #f3f3f3;
    stroke: white;
    stroke-width: 1.5px;
}

path:hover {
    fill: orange;
}

#map .active {
    fill: #2fa4e7;
}

g.tooltip {
    color: #fff;
    font-size: 20px;
    background-color: #222;
    padding: .5em;
    text-shadow: gray 0 1px 0;
    border-radius: 10px;
    opacity: 0.9;
    position: absolute;
    width: 100px;
    height: 50px;
    text-align: center;
}

.hidden {
    display: none;
}
h1 {
    position:absolute;
    top:90%;
    left:40%;
}